#heading1 {
  color: #333;
  font-weight: bold;
}

/* Card Styles */
.project-card {
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  position: relative;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.project-card .card-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.project-card .card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #555;
}

.project-card .badge {
  padding: 0.5em 1em;
  font-size: 0.9rem;
}

.project-card .btn-primary {
  background-color: #007bff;
  border: none;
  width: 100%;
  font-size: 0.9rem;
}

.project-card .btn-primary:hover {
  background-color: #0056b3;
}

/* Ensure smooth transitions for hover effects */
.card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
