.project-details-container {
    max-width: 1200px;
    margin: auto;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .card-text {
    font-size: 1.1rem;
  }
  
  .list-group-item {
    font-size: 1.1rem;
  }
  
  .badge {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  
  .card-header h3 {
    font-size: 1.4rem;
    font-weight: bold;
  }
/* Styling for the backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow-y: auto;
}

/* Styling for the modal content */
.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Disable body scrolling when the modal is active */
.body-no-scroll {
  overflow: hidden;
}

/* Styling for form elements */
.form-group {
  margin-bottom: 15px;
}

/* Button styling */
.d-flex.justify-content-end button {
  margin-left: 10px; /* Add space between buttons */
}

.form-group:last-of-type {
  margin-bottom: 20px; /* Add space below the last form input */
}
