.task-details-container {
    max-width: 1200px;
    margin: auto;
    max-height: 1200px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .card-text {
    font-size: 1.1rem;
  }
  
  ul.list-unstyled li {
    font-size: 1rem;
  }
  
  .badge {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
  
  .card-header h3, .card-body h4 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  textarea.form-control {
    font-size: 1rem;
  }
  
  button.btn-primary {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  