body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #7800f8, #4589ff); /* Gradient background */
  }
  
  .register-container {
    background: rgba(255, 255, 255, 0.8); /* Light background for card */
    border-radius: 10px;
    max-width: 450px;
  
    
  }
  
  .register-card {
    width: 400px; /* Set a fixed width for the card */
  }
  
  .img-preview {
    max-width: 100%;
    height: auto;
  }
  